/* Fondo general y tipografía */
body {
    background-color: #f1dada;
    color: #333;
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding-top: 60px; 
}

/* Estilo del navbar */
.navbar {
    background-color: black;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
    padding: 10px 0; 
}

/* Enlaces de la barra de navegación */
.navbar a:hover {
    color: red;
}

/* Estilo para los encabezados de términos y condiciones */
.terms-container h1 {
    color: #8B0000; 
    font-size: 1.5rem; 
    margin-bottom: 20px;
    text-align: center; 
}

.terms-container h2 {
    color: red; 
    font-size: 1.25rem; 
    margin-top: 20px; 
}

.terms-container h3 {
    color: #333; 
    font-size: 1.1rem; 
    margin-top: 15px; 
}

.terms-container p {
    text-align: justify; 
    line-height: 1.6; 
}

/* Contenedor de términos y condiciones */
.terms-container {
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px; 
    margin: 20px auto; 
    max-width: 800px; 
}

/* Botones */
.btn-primary {
    background-color: red;
    border: none;
    border-radius: 5px; 
    padding: 10px 20px; 
    transition: background-color 0.3s; 
    font-weight: bold; 
}

.btn-primary:hover {
    background-color: darkred; 
}

/* Contenedor de tarjetas */
.card-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    padding: 20px;  
}

/* Tarjetas de productos */
.card {
    display: flex; 
    flex-direction: column; 
    border: 1px solid red;
    transition: transform 0.2s, box-shadow 0.2s; 
    border-radius: 5px; 
    height: 100%; 
    margin: 10px; 
    margin-top: 20px; 
}

/* Efecto de aumento al pasar el mouse sobre las cajitas */
.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

/* Imágenes de productos */
.card-img-top {
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    height: 400px; 
    object-fit: cover; 
}

/* Contenedor del cuerpo de la tarjeta */
.card-body {
    display: flex; 
    flex-grow: 1; 
    flex-direction: column; 
}

/* Modal del carrito */
.modal-content {
    border-radius: 5px; 
}

.modal-body p {
    margin: 0;
    font-weight: bold;
}

/* Pie de Página */
footer {
    background-color: #343a40;
    color: rgb(17, 17, 17);
    padding: 15px 0;
}

footer a {
    color: #f8f9fa; 
}
